{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Database {% endblock %}</h2>
<br>

<p>Below are the most important points from this section.</p>
<br>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Creating connection between app and MySQL database.
        <br>
        <img src="{{url_for('static', filename='create_connection_db.png')}}" />
    </li>
    <li class="list-group-item">
        <br>
        Creating database if not exist.
        <br>
        <img src="{{url_for('static', filename='create_db.png')}}" />
        <br><br>
        Creating tables in database if not exist. Sample code for club table.
        <br>
        <img src="{{url_for('static', filename='create_table.png')}}" />
    </li>
    <li class="list-group-item">
        <br>
        Loading data to database.
        <br>
        <img src="{{url_for('static', filename='fill_clubs.png')}}" />
    </li>
    <li class="list-group-item">
        <br>
        Sample data for club table in MySQL database Workbench.
        <br>
        <img src="{{url_for('static', filename='clubs_mysql.png')}}" />
    </li>
</ul>
{% endblock %}