{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Database {% endblock %}</h2>
<br>

<p>Below are the most important points from this section.</p>
<br>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Create connection from app with MySQL database.
        <br>
        <img src="{{url_for('static', filename='create_connection_db.png')}}" />
    </li>
    <li class="list-group-item">
        <br>
        Create database if not exist.
        <br>
        <img src="{{url_for('static', filename='create_db.png')}}" />
        <br><br>
        Create tables in database if not exist. Sample code for create club table.
        <br>
        <img src="{{url_for('static', filename='create_table.png')}}" />
    </li>
    <li class="list-group-item">
        <br>
        Fill database tables with values from csv files.
        <br>
        <img src="{{url_for('static', filename='fill_clubs.png')}}" />
    </li>
    <li class="list-group-item">
        <br>
        Example data inside club table in MySQL database Workbench.
        <br>
        <img src="{{url_for('static', filename='clubs_mysql.png')}}" />
    </li>
</ul>
{% endblock %}