{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Database {% endblock %}</h2>
<br>

<p>Page description about project.</p>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Description about create connection with databse</li>
    <li class="list-group-item">Screenshot with create database and tables</li>
    <li class="list-group-item">Screenshot with fill tables commands</li>
    <li class="list-group-item">Screenshot with table from mysql</li>
</ul>
{% endblock %}