{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Documentation {% endblock %}</h2>
<br>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Diagram:
        <img src="{{url_for('static', filename='./func-diagram.png')}}" class="d-block w-80" alt="Diagram_1">
    </li>
    <li class="list-group-item">
        <br>
        The source code is at <a href="https://github.com/mateuszgua/football-stats-england.git">GitHub</a>.
        <br>
        <p>
            Below is a description of the files in the project:
        </p>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">data</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">The .csv files after merged and
                normalization proces.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">samples</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">The .csv files for download from
                source page.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">source</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">The .csv files in unchanged format.
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">sql_files</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">The .sql files with sql code for get
                data from queries.
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">static</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">The images with charts, tasks and rest
                of images used in app</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">templates</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">The html files with contents in web
                side of application.
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">app.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">File to init databasse and run flask
                app.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">append_csv_files.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to connect all files with one
                long csv file.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">config.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to create configuration, get
                values from .env, load parameters for app and flak.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">create_csv_normalize_tables.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to create normalized files with
                pandas.
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">databae_manager.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to create database and table.
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">database_fill_tables.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to load tables with data from
                merged csv file.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">databae_reader.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to read information from
                database.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">helpers.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to check if chosen file exist.
            </li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">my_database.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to create connection and cursor
                with database.</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-dark" style="width: 300px">views.py</li>
            <li class="list-group-item list-group-item-dark" style="width: 800px">Code to create views in flask.</li>
        </ul>
    </li>
</ul>
{% endblock %}