{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Welcome on football Premier League statistic site{% endblock %}</h2>
<br>
<br>
<p>The application shows how to deal with data from csv files.</p>
<p>Below was shown steps of the project:
    - loading data from source to database with pandas,
    - using sql queries for reading data from Mysql database,
    - showing results by charts in matplotlib.</p>
<br>
<h3>Chapters</h3>
<br>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a href="{{ url_for('source') }}" class="text-decoration-none text-body">Source</a>
            </div>
            Downloading files from the website and uploading them to the application.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a href="{{ url_for('normalization') }}" class="text-decoration-none text-body">Python - pandas</a>
            </div>
            Merging all files from sources into one csv file.
            Making normalization process with pandas.
            Creating dimensions and fact tables.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a href="{{ url_for('database') }}" class="text-decoration-none text-body">Database</a>
            </div>
            Creating database and tables in MySQL with Python scripts.
            Creating connections with database and checking data in MySQL Workbench.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a href="{{ url_for('flask') }}" class="text-decoration-none text-body">Flask</a>
            </div>
            Creating a web application.
            Running queries from flask app to MySQL database and loading data to dataframes.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                <a href="{{ url_for('visualization') }}" class="text-decoration-none text-body">Visualization</a>
            </div>
            Creating sql queries and riding data from MySQL databse.
            Creating procedure in sql which allows users choose season and team.
            Creating visualizations with python and matplotlib.
        </div>
    </li>
</ol>

{% endblock %}