{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Source files{% endblock %}</h2>
<br>

<p>Below are the most important points from this section.</p>
<br>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <br>
        Downloading historical files from Premier League.
        The csv files was download from <a href="https://www.football-data.co.uk/englandm.php">page.</a>
    </li>
    <li class="list-group-item">
        <br>
        Sample file for download in csv format:
        <a class="btn btn-warning btn-sm" href="{{ url_for('.download_file') }}" role="button">Download csv file</a>
    </li>
    <li class="list-group-item">
        <br>
        All files are shown in the picture below.
        <br>
        <img src="{{url_for('static', filename='all_files.png')}}" />
    </li>
</ul>
{% endblock %}