{% extends 'base.html' %}

{% block content %}

<h2 class="title">{% block title %} Visualizations {% endblock %}</h2>
<br>

<p>Page description about project.</p>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        ...
    </li>
    <li class="list-group-item">
        <img src="{{url_for('static', filename='./charts/chart_task_2.png')}}" class="d-block w-100" alt="Chart">
    </li>
    <li class="list-group-item">
        <img src="{{url_for('static', filename='./charts/chart_task_3.png')}}" class="d-block w-100" alt="Chart">
    </li>

</ul>
{% endblock %}